@font-face{
    font-family: 'Sporting';
    src: url('/fonts/Sporting_Grotesque-Regular_web.eot') ;
    src: url('/fonts/Sporting_Grotesque-Regular_web.otf') format('opentype');
    src: url('/fonts/Sporting_Grotesque-Regular_web.svg') format('svg');
    src: url('/fonts/Sporting_Grotesque-Regular_web.ttf') format('truetype');
    src: url('/fonts/Sporting_Grotesque-Regular_web.woff') format('woff');
    src: url('/fonts/Sporting_Grotesque-Regular_web.woff2') format('woff2');
    font-weight: normal;
}
    
@font-face{
    font-family: 'Sporting';
    src: url('/fonts/Sporting_Grotesque-Bold_web.eot') ;
    src: url('/fonts/Sporting_Grotesque-Bold_web.otf') format('opentype');
    src: url('/fonts/Sporting_Grotesque-Bold_web.svg') format('svg');
    src: url('/fonts/Sporting_Grotesque-Bold_web.ttf') format('truetype');
    src: url('/fonts/Sporting_Grotesque-Bold_web.woff') format('woff');
    src: url('/fonts/Sporting_Grotesque-Bold_web.woff2') format('woff2');
    font-weight: bold;
}