// Fira

@font-face{
    font-family: 'Fira';
    src: url('/fonts/FiraCode-Regular.otf') format('opentype');
    src: url('/fonts/FiraCode-Regular.woff') format('woff');
    font-weight: normal;
}

@font-face{
    font-family: 'Fira';
    src: url('/fonts/FiraCode-Bold.otf') format('opentype');
    src: url('/fonts/FiraCode-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face{
    font-family: 'Fira';
    src: url('/fonts/FiraCode-Light.otf') format('opentype');
    src: url('/fonts/FiraCode-Light.woff') format('woff');
    font-weight: lighter;
}